params {
  // illumina iGenomes reference file paths on UPPMAX
  igenomes_base = '/sw/data/uppnex/igenomes/'
 
  // illumina iGenomes reference file paths
  genomes {
    'GRCh38' {
      gtf         = "${params.igenomes_base}/Homo_sapiens/NCBI/GRCh38/Annotation/Genes.gencode/genes.gtf"
      bed12         = false
    }
  }
}

